.repo-item {
  display: flex;
  flex-direction: column;
  border: solid 3px #000; 
  /* box-shadow: black; */
  border-radius: 12px;
  width: 25%;
}

.repo-link {
  text-decoration: none;
  color: inherit;
}

.repo-text-box {
  padding: 20px;

  display: grid;
}

.repo-img {
  width: 100%;
}